body{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.container{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    height: 200px;
    width: 450px;
   margin-top: 200px;
   margin-left: 300px;
   border-radius: 10px;
   padding-top: 2px;
   padding-left: 20px;
   color: white;
}
h1{
    text-align: center;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    width: 95%;
}
#box{
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    width: 91%;
    border-style: none;
}
#btn{
margin: 10px;
height: 30px;
width: 20%;
border-radius: 15px;
border-style: none;
cursor: pointer;
color: aliceblue;
background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}